APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

API_AUTH_AD_PROD_LINK=https://api.embraconnet.com.br/
API_AUTH_AD_PROD_CLIENT_ID=3272cea5-9888-3745-9a52-c1b9de7cf699
API_AUTH_AD_PROD_SECRET=7bfd7faf-77e7-30a2-a3ba-1859de2e8a3e

API_AUTH_AD_HOM_LINK=https://api-hom-embraconnet.com.br/
API_AUTH_AD_HOM_CLIENT_ID=ea8b613c-b02b-391f-86b7-013d3fd8ef7c 
API_AUTH_AD_HOM_SECRET=baa028fd-4f04-35d3-90cd-a9525ff0b83a

API_AUTH_AD_DEV_LINK=https://api-des.embraconnet.com.br/
API_AUTH_AD_DEV_CLIENT_ID=3d91bdcd-401d-3027-851e-6d536304b5b9
API_AUTH_AD_DEV_SECRET=53aee07a-1033-3be5-b346-2fefdf88b3ab